
:root {
    --main-width: 60%;
	--main-padding: 5%;
}

.Header {
	width: 100%;
	background-color: #33CCCC;
	/padding: 0px;
	/margin: 0 auto;
	
}

.Global_Navigation {
	width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));
	margin: 0 auto;
	/text-align: center;
	padding-top:40px;
	padding-bottom: 40px;
}

.Home_Tab {
	/padding-left: 50px;
	/padding-right: 100px;
	font-size: 2em;
	font-weight: bold;
	font-family: 'Assistant', sans-serif;
}

.Tab {
	padding-left: 50px;
	font-size: 1.5em;
	font-family: 'Varela Round', sans-serif;
}

body {
	background-color: #EAF9F9;
	margin: 0px;
	/height: 300%;
}

a, a:visited , a:hover, a:focus, a:active { text-decoration: none; color:black; }

.Welcome {
	width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));
	margin: 0 auto;
}

.Hi {
	font-size: 3em;
	margin-top: 40px;
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
}

.About {
	font-size: 2em;
	margin-bottom: 75px;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 2em;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
}

.Body {
	width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));
	margin: 0 auto;
	margin-bottom: 30%;
	margin-top: 20px;
	position: relative;
}

.Project {
	width: 80%;
	/height: 460px;
	padding: var(--main-padding);
	background-color: #c1efef;
	/margin: 0 auto;
	/float: left;
	display:inline-block;
}

img {
	width:50%;
}

.Title {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
}


.Details {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	/width: 200px;
	margin:0px;
	margin-left: 20px;
}

.Detail_Title {
	margin-top: 0px;
	font-size:1.5em;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 10px;
}

.Detail_Item{
	margin-top: 0px;
	font-size:1em;
	font-family: 'Varela Round', sans-serif;
	margin-bottom: 0px;
}

.View_Project {
	/display: inline-block;
	vertical-align: top;
	/margin-left: 40px;
	background-color: red;
	width: 10%;
	height: 100%;
	position: absolute;
	float: right;
	right: 0;
	top: 0;
	/overflow: hidden;
	/margin-left: 10px;
	background-color: #33CCCC;
	
	display:flex;
	align-items:center;
	justify-content:center;
}

.View_Project:hover {
	cursor: pointer;
}

.Arrow {
	width: 90%;
	/display: block;
	/margin: auto;
}

.Footer_A {
	width:50%;
	float: left;
	font-size: 0.75em;
}

.Footer_B {
	width:50%;
	float: right;
	text-align:right;
	font-size: 0.75em;

}


@media only screen and (max-width: 768px) {
    /* For Tablets: */
:root {
    --main-width: 70%;
	--main-padding: 5%;
}

.Home_Tab {
	font-size: 1.5em;
}

.Tab {
	font-size: 1em;
	padding-left: 25px;
}


h1 {
	font-size: 3em;
}

img.Snippet {
	width: 25%;
}

.Footer_A {
	width:100%;
	text-align:center;
	/font-size: 1em;
	float:none;
}

.Footer_B {
	width:100%;
	text-align:center;
	/font-size: 1em;
	float:none;

}

.Title {
	font-size: 2em;
}

.Details {
	margin-left:10px;
	padding-right:0px;
}

.Detail_Title{
	font-size:1em;
}

.Detail_Item{
	font-size:0.75em;
}


}

@media only screen and (max-width: 480px) {
    /* For Mobile Phones: */
:root {
    --main-width: 85%;
	--main-padding: 5%;
}

.Global_Navigation {

	padding-top:20px;
	padding-bottom: 20px;
}

.Home_Tab {
	font-size: 1em;
	
}

.Section {
	border-width: 10px;
	padding-bottom: 10%;

}

.Tab {
	font-size: 0.75em;
	padding-left: 25px;
}

h1 {
	font-size: 2em;
}

h3 {
	font-size: 2em;
}

img.Snippet {
	width: 25%;
}

.Title {
	font-size: 1.5em;
}

.Detail_Title{
	font-size:0.75em;
}

.Detail_Item{
	font-size:0.5em;
}

body { overflow-x: hidden; }
html { overflow-x: hidden; }

}





