
:root {
    --main-width: 60%;
	--main-padding: 5%;
}

.Header {
	width: 100%;
	/background-color: #33CCCC;
	background: linear-gradient(to right, #33CCCC , #00ffcc);
}

.Footer {
	width: 100%;
	background-color: #33CCCC;
	background: linear-gradient(to right, #00ffcc, #33CCCC);
}

.Global_Navigation {
	/width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));
	width: calc(60% + 5% + 5%);
	margin: 0 auto;
	padding-top:40px;
	padding-bottom: 40px;
}

.Home_Tab {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Assistant', sans-serif;
}

.Tab {
	padding-left: 50px;
	font-size: 1.5em;
	font-family: 'Varela Round', sans-serif;
}

body {
	background-color: #EAF9F9;
	margin: 0px;
}

a, a:visited , a:hover, a:focus, a:active { text-decoration: none; color:black; }

.Body {
	/width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));	
	width: calc(60% + 5% + 5%);
	margin: 0 auto;
	/margin-bottom: 50px;
	margin-top: 20px;
	position: relative;
}

.Project {
	width: 80%;
	/padding: var(--main-padding);
	padding: 5%;
	background-color: #c1efef;
	display:inline-block;
}

img {
	width:50%;
}

.Title {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
}

.Details {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	margin:0px;
	margin-left: 20px;
}

.Detail_Title {
	margin-top: 0px;
	font-size:2em;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 10px;
}

.Detail_Item{
	margin-top: 0px;
	font-size:1.5em;
	font-family: 'Varela Round', sans-serif;
	margin-bottom: 0px;
}

.View_Project {
	vertical-align: top;
	background-color: red;
	width: 10%;
	height: 100%;
	position: absolute;
	float: right;
	right: 0;
	top: 0;
	background-color: #33CCCC;
	display:flex;
	align-items:center;
	justify-content:center;
	box-shadow: -8px 0px 10px -8px black;
}

.View_Project:hover {
	cursor: pointer;
}

.Arrow {
	width: 90%;
}

.Footer_A {
	width:50%;
	float: left;
	font-size: 0.75em;
	font-family: 'Raleway', sans-serif;
	margin-top: 0px;
	margin-bottom: 5px;
}

.Footer_B {
	width:50%;
	float: right;
	text-align:right;
	font-size: 0.75em;
	font-family: 'Raleway', sans-serif;
	margin-top: 0px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 1200px) {
    /* Size Adjustment Before Tablet: */

.Detail_Title{
	font-size:1.5em;
}

.Detail_Item{
	font-size:0.9em;
}
	
}

@media only screen and (max-width: 768px) {
    /* For Tablets: */
:root {
    --main-width: 70%;
	--main-padding: 5%;
}

.Global_Navigation {
	/width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));
	width: calc(70% + 5% + 5%);
}

.Body {
	/width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));	
	width: calc(70% + 5% + 5%);
}

.Project {
	/padding: var(--main-padding);
	padding: 5%;
}

.Home_Tab {
	font-size: 1.5em;
}

.Tab {
	font-size: 1em;
	padding-left: 25px;
}

h1 {
	font-size: 3em;
}

img.Snippet {
	width: 25%;
}

.Footer_A {
	width:100%;
	text-align:center;
	float:none;
}

.Footer_B {
	width:100%;
	text-align:center;
	float:none;
}

.Title {
	font-size: 2em;
}

.Details {
	margin-left:10px;
	padding-right:0px;
}

.Detail_Title{
	font-size:1em;
	margin-bottom: 5px;
}

.Detail_Item{
	font-size:0.7em;
}

}

@media only screen and (max-width: 480px) {
    /* For Mobile Phones: */
:root {
    --main-width: 85%;
	--main-padding: 5%;
}

.Global_Navigation {
	/width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));
	width: calc(85% + 5% + 5%);
	padding-top:20px;
	padding-bottom: 20px;
}

.Body {
	/width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));	
	width: calc(85% + 5% + 5%);
}

.Project {
	/padding: var(--main-padding);
	padding: 5%;
}

.Home_Tab {
	font-size: 1em;
}

.Section {
	border-width: 10px;
	padding-bottom: 10%;
}

.Tab {
	font-size: 0.75em;
	padding-left: 25px;
}

h1 {
	font-size: 2em;
}

h3 {
	font-size: 2em;
}

img.Snippet {
	width: 25%;
}

.Title {
	font-size: 1.5em;
}

.Detail_Title{
	font-size:0.75em;
}

.Detail_Item{
	font-size:0.5em;
}

body { overflow-x: hidden; }
html { overflow-x: hidden; }

}





