body {
	background-color: #EAF9F9;
	margin: 0px;
	height:1200px;
}

.Header {
	width: 100%;
	background-color: #33CCCC;
	/padding: 0px;
	/margin: 0 auto;
	
}

.Global_Navigation {
	width: 1000px;
	margin: 0 auto;
	/text-align: center;
	padding-top:40px;
	padding-bottom: 40px;
}

.Home_Tab {
	/padding-left: 50px;
	/padding-right: 100px;
	font-size: 2.5em;
	font-weight: bold;
	font-family: 'Assistant', sans-serif;
}

.Tab {
	padding-left: 50px;
	font-size: 1.5em;
	font-family: 'Varela Round', sans-serif;
}

.Body {
	padding-top: 60px;
	width:1000px;
	margin: 0 auto;
	/background-color:red;
}

.Project {
	width: 860px;
	height: 460px;
	padding: 20px;
	
	/border-style: solid;
	/border-width: 10px;
	/border-radius: 10px;
	
	/padding: 20px;
	
	background-color: #c1efef;
	/border-color: #33CCCC;
	float: left;

}



.Title {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
}

img {
	width: 500px;

}

.Details {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	width: 200px;
}

.Detail_Title {
	margin-top: 0px;
	font-size:2em;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 10px;
}

.Detail_Item{
	margin-top: 0px;
	font-size:1em;
	font-family: 'Varela Round', sans-serif;
}

.View_Project {
	display: inline-block;
	vertical-align: top;
	/margin-left: 40px;
	background-color: red;
	width: 100px;
	height: 500px;
	float: left;
	/overflow: hidden;
	/margin-left: 10px;
	background-color: #33CCCC;
	
	display:flex;
	align-items:center;
	justify-content:center;
}

.View_Project:hover {
	cursor: pointer;
}

.Arrow {
	width: 50px;
	/display: block;
	/margin: auto;
}







.Header_Section {
	text-align: center;
	width: 33.333%;
	float: left;
	font-size: 1.5em;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color:   #1976D2;
	font-family: 'Raleway', sans-serif;
	color: white;

}

.Section {
	background-color: red;
	width: 60%;
	/margin: 0 auto;
	
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 40px;
	
	/margin-top: 0px;
	/margin-bottom: 0px;

	/display: block;
	float:left;
	
}


h1 {
	font-size: 4em;
	font-family: 'Archivo Narrow', sans-serif;
	color: #1976D2;
	text-align: center;
	padding:0px;
	margin: 0 auto;
}

h2 {
	font-size: 1.5em;	
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
	/color: #757575;
	
	margin-top: 60px;
	/margin-bottom: 40px;
}

h3 {
	font-size: 3em;
	font-family: 'Archivo Narrow', sans-serif;
	color: black;
	
	/margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

p {
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	/color: #757575;
	
	/margin: 0 auto;
	/margin-bottom: 40px;

}

ol{
	padding-left: 100px;
	/font-weight: bold;

	
}

ul {
	padding-left: 100px;
}

li {
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
}

.Snippet_Container {
	text-align:center;
}

img.Snippet {
	width: 20%;
	display: inline-block;
	margin: 10px;
	/padding-bottom: 10px;
}

img.Sketch {
	width: 33%;
	float: left;
	display: inline-block;
	/margin: 10px;
	margin-left: 0px;
	padding-bottom: 40px;
}

img.Large_Image {
	width: 100%;
}



