
:root {
    --main-width: 60%;
	--main-padding: 5%;
}

.Header {
	width: 100%;
	/background-color: #33CCCC;
	background: linear-gradient(to right, #33CCCC , #00ffcc);
}

.Footer {
	width: 100%;
	background-color: #33CCCC;
	background: linear-gradient(to right, #00ffcc, #33CCCC);
}

.Global_Navigation {
	width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));
	margin: 0 auto;
	padding-top:40px;
	padding-bottom: 40px;
}

.Home_Tab {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Assistant', sans-serif;
}

.Tab {
	padding-left: 50px;
	font-size: 1.5em;
	font-family: 'Varela Round', sans-serif;
}

body {
	background-color: #EAF9F9;
	margin: 0px;
}

a, a:visited , a:hover, a:focus, a:active { text-decoration: none; color:black; }

.Body {
	width: calc(var(--main-width) + var(--main-padding) + var(--main-padding));
	margin: 0 auto;
	margin-bottom: 30%;
	margin-top: 40px;
	position: relative;
}

.Chunk {
	width: 100%;
	margin-bottom:50px;
	display: flex;
}

.Left_Block {
	width: 20%;
	display: inline-block;
	text-align:right;
}

.Right_Block {
	width:75%;
	display: inline-block;
	position: right;
	margin-left: 5%;
}

p {
	margin:0;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin-bottom: 5px;
}

.Title {
	font-weight:bold;
	font-size: 1.25em
}

.Footer_A {
	width:50%;
	float: left;
	font-size: 0.75em;
	font-family: font-family: 'Raleway', sans-serif;
	margin-top: 0px;
}

.Footer_B {
	width:50%;
	float: right;
	text-align:right;
	font-size: 0.75em;
	font-family: font-family: 'Raleway', sans-serif;
	margin-top: 0px;
}

@media only screen and (max-width: 768px) {
    /* For Tablets: */
:root {
    --main-width: 70%;
	--main-padding: 5%;
}

.Home_Tab {
	font-size: 1.5em;
}

.Tab {
	font-size: 1em;
	padding-left: 25px;
}

.Title {
	font-size: 1em;
}

p {
	font-size: 1em;
}

.Footer_A {
	width:100%;
	text-align:center;
	float:none;
	margin-bottom: 5px;
}

.Footer_B {
	width:100%;
	text-align:center;
	float:none;
	margin-bottom: 5px;

}

}

@media only screen and (max-width: 480px) {
    /* For Mobile Phones: */
:root {
    --main-width: 85%;
	--main-padding: 5%;
}

.Global_Navigation {
	padding-top:20px;
	padding-bottom: 20px;
}

.Home_Tab {
	font-size: 1em;
}

.Section {
	border-width: 10px;
	padding-bottom: 10%;
}

.Tab {
	font-size: 0.75em;
	padding-left: 25px;
}

.Title {
	font-size: 0.75em;
}

p {
	font-size: 0.75em;
}

body { overflow-x: hidden; }
html { overflow-x: hidden; }

}





